.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #f6f1db;
}

.footerContainer {
  position: "relative" !important;
  bottom: "0px" !important;
}

.footerImgContainer {
  height: 200px;
  width: 225px;
}

.footerLogo {
  margin-left: 2rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.footerTextBox {
  margin-left: 50px;
}

.footerTitle {
  color: black;
  font-weight: bold;
}

.footerContent {
  color: black;
  font-weight: bolder;
  height: 8rem;
}

.myFooterLink {
  color: black !important;
  font-weight: bolder !important;
}

.requestFormBody {
  margin-left: 17.5rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.img-avatar {
  margin-top: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
